<!DOCTYPE html>
{% extends 'base.html'%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>

<body>
{% block content %}
<form onsubmit="redirectToContributions(event)">
    <div class="mb-3">
        <label for="githubUsername" class="form-label">GitHub Username</label>
        <input type="text" class="form-control" id="githubUsername" required>
    </div>
    <div class="mb-3">
        <label for="githubUsername" class="form-label">GitHub Access Token (optional for API limit)</label>
        <input type="text" class="form-control" id="githubAccessToken">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
    function redirectToContributions(event) {
    event.preventDefault();
    let userName = document.getElementById("githubUsername").value.trim();
    let accessToken = document.getElementById("githubAccessToken").value.trim();
    if (userName) {
        if (accessToken) {
            window.location.href = `./contributions/${userName}/${accessToken}`;
        }
        else {
            window.location.href = `./contributions/${userName}`;
        }
    }
}
</script>
{% endblock %}
<title>GitHubStalker</title>

</body>
</html>